<div class="featured-media">
    <!--<a href="{{url}}" rel="bookmark" title="{{title}}">-->
    <img src="{{img_url feature_image}}">
    <!--</a>-->
    <div class="media-caption-container">
        <p class="media-caption" id="media-caption-element">
            <!--fill this value with script--></p>
    </div>
</div><!-- .featured-media -->
